body {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  /* color: white; */
  height: 100%;
  margin-top: 20px;
  color: white !important;
}

.bg-theme {
  background-color: #f6f0e9;
}

.text-theme {
  color: #4a044e;
}

.shadow-theme {
  --tw-shadow-color: #4a044e;
}

.border-theme {
  border-color: #4a044e;
}

.btn-register {
  font-size: 16px;
  color: #4a044e;
  border: 2px solid #4a044e;
  padding: 10px 40px;
  border-radius: 4px;
  font-weight: 600;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  /* text-transform: uppercase; */
  cursor: pointer;
  background: none;
}

.btn-register:hover {
  background: #4a044e;
  color: white;
}

.robot {
  -webkit-transform: translatey(0px);
  transform: translatey(0px);
  -webkit-animation: float 5s ease-in-out infinite;
  animation: float 5s ease-in-out infinite;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }

  50% {
    -webkit-transform: translatey(-25px);
    transform: translatey(-25px);
  }

  100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }

  50% {
    -webkit-transform: translatey(-25px);
    transform: translatey(-25px);
  }

  100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}

.eye {
  display: block;
  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 4s ease-out;
}

@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .btn-register {
    font-size: 14px;
    padding: 10px 30px;
  }
}

header {
  position: relative;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./img/zellige.svg');
  background-repeat: repeat-x;
  background-size: 25%;
  opacity: 0.07;
  z-index: -1;
}